<div class='row mx-auto d-block mb-2'>
    <% image_array = ["cat.png", "chicken.png", "tiger.png", "giraffe.png", "cow.png"] %>
    <%= image_tag(image_array.sample, class: 'card-img-top mb-4 thumbnail mx-auto', alt: 'Animals', style: "width:15em;height:15em;") %>
</div>