<div class='row mx-auto d-block mb-2'>
    <% image_array = ["Chores/brillo.png", "Chores/broomnpan.png", "Chores/gloves.png"] %>
    <%= image_tag(image_array.sample, class: 'card-img-top mb-4 thumbnail mx-auto', alt: 'Animals', style: "width:15em;height:15em;") %>
</div>