<div class='container-lg'>
	<!--accordion welcome message-->

	<div class='row accordion pb-5'>
		<div class='accordion-item' id='accordionExample'>
			<h2 class='accordion-header' id='headingOne'>
			<button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			Hi and welcome to Chorbee!</button></h2>
			<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					You can find links to all of your children, their chores and their appointments <strong>below.</strong>
				</div>
			</div>
		</div>
	</div>

	<!--Dashboard-->
	<div class="container-fluid row">
		<h2 class="row mx-auto text-warning shadow-sm">Dashboard</h2>
	</div>
	<% if !current_parent.children.empty? %>
		<div class="row text-center g-2 parent-options">
			<div class="col-lg-4 p-4 text-center">
				<strong>Children</strong>
				<div class="btn-group text-decoration-none p-3 d-grid gap-2 col-6 mx-auto mobile-dropdown">
					<button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="visually-hidden">Toggle Dropdown</span>Select
					</button>
					<ul class="dropdown-menu text-center">
					<% parent_children_array = current_parent.children.uniq %>
					<% parent_children_array.each do |child| %>
						<li><%= link_to child.name, child_path(id: child.id), class: 'nav-link' %></li>
					<% end %>
					</ul>
				</div>
				<a class='nav-link mx-auto' href='/children'><strong>View Children</strong></a>
			</div>
			<div class="col-lg-4 p-4 text-center">
				<strong>Chores</strong>
				<div class="btn-group text-decoration-none p-3 d-grid gap-2 col-6 mx-auto mobile-dropdown">
					<button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="visually-hidden">Toggle Dropdown</span>Select
					</button>
					<ul class="dropdown-menu text-center">
					<% parent_chores_array = current_parent.chores.uniq %>
					<% parent_chores_array.each do |chore| %>
						<li><%= link_to chore.job, chore_path(id: chore.id), class: 'nav-link' %></li>
					<% end %>
					</ul>
				</div>
				<a class='nav-link mx-auto' href='/chores'><strong>View Chores</strong></a>
			</div>
			<div class="col-lg-4 p-4 text-center">
				<strong>Appointments</strong>
				<div class="btn-group text-decoration-none p-3 d-grid gap-2 col-6 mx-auto mobile-dropdown">
					<button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="visually-hidden">Toggle Dropdown</span>Select
					</button>
					<ul class="dropdown-menu text-center">
					<% parent_appointments_array = current_parent.appointments.uniq %>
					<% parent_appointments_array.each do |appointment| %>
						<li><%= link_to appointment.chore.job, appointment_path(id: appointment.id), class: 'nav-link' %></li>
					<% end %>
					</ul>
				</div>
				<a class='nav-link mx-auto' href='/appointments'><strong>View Appointments</strong></a>
			</div>
		</div>
	<% else %>
		<p class='text-center text-danger my-3 p-auto'>No child in database. Please select the Chorbee icon to create one.</p>
	<% end %>
</div>