/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 
 @import "bootstrap";
 @import "simple_calendar";

 * {
    font-family: 'Lato', sans-serif;
 }

 a {
     margin-left: 1em;
     text-decoration: none;
     color: black;
 }

 .navbar-brand {
    font-family: 'Yellowtail', cursive;
 }

 // Source mixins

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) { min-width: 576px }
@include media-breakpoint-up(md) { min-width: 768px }
@include media-breakpoint-up(lg) { min-width: 992px }
@include media-breakpoint-up(xl) { min-width: 1200px }
@include media-breakpoint-up(xxl) { min-width: 1400px }

// Usage

// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
.calendar {
  display: none;
}
@include media-breakpoint-up(sm) {
  .calendar {
    display: block;
  }
}

thead,
tbody,
 .calendar {
    width: inherit;
 }
