<div class='row calendar'>

    <%= week_calendar(number_of_weeks: 1, attribute: :start_time, end_attribute: :end_time, events: @recurring_events) do |date, events| %>
        
        <%= date.day %>

            <% events_array = events.uniq %>

            <% events_array.each do |event| %>

                <% if event.frequency == 'Weekly' %>

                    <div>
                        <%= link_to event.chore.job, chore_path(id: event.chore.id), class:'d-inline-block link-warning text-truncate' %>
                    </div>

                <% else %>

                    <div>
                        <%= link_to event.chore.job, chore_path(id: event.chore.id), class:'d-inline-block link-dark text-truncate' %>
                    </div>

                <% end %>

            <% end %>

    <% end %>

    <div class='mt-1 mb-2 blockquote-footer'><i class='float-end'>-Weekly events highlighted in <em class = 'text-warning'>yellow</em></i></div>

</div>