<div class="container-md">
    <h1 class="text-muted row px-3">Edit Chore</h1>

    <%= render 'form', chore: @chore %>

    <div class="col px-3">
        <%= link_to 'Show', @chore %> |
        <%= link_to 'Back', chores_path %>
    </div>
</div>
