<div class="container-lg">

    <h1 class="row">New Chore</h1>

    <%= render 'form', chore: @chore %>

    <div class="row">
        <div class="col">
            <%= link_to 'Back', chores_path %>
        </div>
    </div>

</div>
