<% if parent_signed_in? %>
    <div class='container bg-light bg-gradient text-warning text-end shadow-sm border-top p-2 mb-3'> Welcome <%= current_parent.name %>! </div>
<% else %>
    <div class='container bg-light bg-gradient text-warning text-end shadow-sm border-top p-2 mb-3'> A chores app for kids! </div>
<% end %>